@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:700&display=swap');

/******************************
*          GENERAL            *
******************************/

:root {
  /* Sizing */
  --padding-unit: 3em;
  --section-margin: 12rem;

  /* Colors */
  --primary-color: hsl(322, 100%, 66%);
  --neutral-dark: hsl(192, 100%, 9%);
  --neutral-pale: hsl(207, 100%, 98%);
}

html * {
  box-sizing: border-box;
}

body {
  background: var(--neutral-pale);
}

.body {
  background: white;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  max-width: 1440px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

header,
section {
  margin-bottom: var(--section-margin);
  padding: 0 0em;
}

p {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.5;
}

.round-button {
  align-items: center;
  border-radius: calc(var(--padding-unit) * 4);
  display: flex;
  justify-content: center;
  padding: calc(var(--padding-unit) / 6) calc(var(--padding-unit) / 1.5);
  text-decoration: none;
}

.main--button {
  background-color: var(--primary-color);
  box-shadow: 0px 5px rgb(224, 224, 224);
  color: var(--neutral-pale);
  font-weight: 700;
  padding: calc(var(--padding-unit) * 0.5) calc(var(--padding-unit) * 8 / 6);
}

/******************************
*          HEADER             *
******************************/

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2em 2em 0 2em;
}

.header--logo>img {
  width: 10em;
}

.header--button {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

@media (min-width: 701px) {
  .header {
    padding: 2em 4em 0 4em;
  }
}

/******************************
*          HERO               *
******************************/

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hero--title,
.hero--text {
  color: var(--neutral-dark);
  margin-bottom: calc(var(--section-margin)/3);
  padding: 0 2em;
}

.hero--title {
  margin-bottom: calc(var(--section-margin)/4);
  text-align: center;
}

.hero--text {
  padding: 0 3em;
}

@media (min-width: 701px) {
  .hero--text {
    width: 30em;
    text-align: center;
  }
}

/******************************
*          INTRO              *
******************************/

.intro {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.mockup--container {
  display: flex;
  flex: 1 0 100%;
  justify-content: center;
  margin: 0 var(--padding-unit);
}

.intro--mockup {
  max-width: 1000px;
  width: 100%;
}

.intro>* {
  margin-bottom: calc(var(--section-margin)/1.5);
}

.intro--metric {
  color: var(--neutral-dark);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.intro--metric>img {
  align-self: flex-start;
  width: 2.5em;
}

.metric__measure {
  font-size: 5em;
  margin-bottom: calc(var(--section-margin)/56);
}

.metric__name {
  font-size: 1.4em;
  color: grey;
}

@media (min-width: 701px) {
  .intro {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

/******************************
*          ILLUSTRATION       *
******************************/

.illustration {
  align-items: center;
  color: var(--neutral-dark);
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: calc(var(--section-margin)*1.5);
  padding: 0 var(--padding-unit);
  position: relative;
  text-align: center;
}

.pattern {
  display: block;
  fill: white;
  padding: 0;
  position: absolute;
  width: 100%;
}

img.top-pattern {
  bottom: 100%;
  left: 0%;
}

img.bottom-pattern {
  bottom: 0%;
  left: 0%;
  transform: translateY(100%);
}

.illustration.odd,
.illustration.odd>.illustration--pic,
.illustration.odd>.illustration--description {
  background: var(--neutral-pale);
}

.illustration--pic,
.illustration--description {
  margin-bottom: calc(var(--section-margin)/1.5);
}

.illustration__title {
  margin-bottom: calc(var(--section-margin)/16);
}

.illustration__text {
  text-align: left;
}

.illustration--pic>img {
  width: 100%;
}



.illustration--description {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 701px) {
  .illustration {
    flex-direction: row;
    padding: 0 calc(var(--padding-unit)*2);
    text-align: left;
  }

  .illustration.odd>.illustration--pic {
    order: 2;
  }

  .illustration--description {
    padding: 0 0 0 calc(var(--padding-unit)*2);
  }

  .illustration--description.odd {
    padding: 0 calc(var(--padding-unit)*2) 0 0;
  }
}

/******************************
*          GET STARTED        *
******************************/

.get-started {
  align-items: center;
  color: var(--neutral-dark);
  display: flex;
  flex-direction: column;
  margin-bottom: calc(var(--section-margin)*2);
  text-align: center;
}

.get-started--title {
  margin-bottom: calc(var(--section-margin)/8);
  padding: 0 48px;
}

@media (max-width: 420px) {
  .get-started--title {
    padding: 0 24px;
  }
}

/******************************
*          FOOTER             *
******************************/

.footer--top>img {
  display: block;
  width: 100%;
}

.footer--newsletter {
  padding: calc(var(--padding-unit)*2) 0 calc(var(--padding-unit)*3) 0;
}

.newsletter__title {
  text-transform: uppercase;
  margin-bottom: calc(var(--section-margin)/16);
}

.footer__text {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.75;
  margin-bottom: calc(var(--section-margin)/6);
}

.footer {
  background: var(--neutral-dark);
  color: var(--neutral-pale);
  display: flex;
  flex-direction: column;
  font-weight: 600;
  padding: 0 var(--padding-unit);
  margin: 0;
}

.subscribe {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

#input--subscribe__text {
  align-self: stretch;
  border-radius: 0.5em;
  border: none;
  height: 5em;
}

#button--subscribe__submit {
  border-radius: 0.5em;
  border: none;
  box-shadow: none;
  font-size: 1.5em;
  font-weight: 700;
  margin: 1.5em 0 0 0;
  padding: calc(var(--padding-unit)/4) calc(var(--padding-unit)*0.8);
}

.footer--contact {
  order: 2;
}

.footer--contact>* {
  margin-bottom: calc(var(--section-margin)/4);
}

.contact__logo {
  margin-bottom: calc(var(--section-margin)/8);
}

.contact__phone {
  margin-bottom: calc(var(--section-margin)/8);
}

.contact--option {
  align-items: center;
  display: flex;
}

.contact--option>img {
  margin-right: calc(var(--section-margin)/12);
}

.contact__socmedia {
  align-items: center;
  display: flex;
}

.socmedia {
  margin-right: calc(var(--section-margin)/8);
}

@media (min-width: 701px) {
  .footer {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: var(--padding-unit) var(--padding-unit);
    margin: 0;
  }

  .footer--newsletter,
  .footer--contact {
    flex: 0 0 50%;
    padding: 0 calc(var(--padding-unit)*0.5);
  }

  .footer--contact {
    order: 0;
  }

  .footer__text {
    max-width: 30em;
  }

  .subscribe {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  #input--subscribe__text {
    align-self: stretch;
    flex: 1 0 100%;
    height: auto;
    margin-bottom: 1em;
    min-height: 3em;
  }

  #button--subscribe__submit {
    font-size: 1.2em;
    margin: 0 0 0 2em;
    padding: calc(var(--padding-unit)/8) calc(var(--padding-unit)*0.4);
  }
}

@media (min-width: 901px) {
  #input--subscribe__text {
    flex: 1 0 0;
    margin-bottom: 0;
  }
}

/******************************
*          ATTRIBUTION        *
******************************/

.attribution {
  background: #3E54A3;
  color: white;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  max-width: 100vw;
}

.attribution>a {
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
}

.attribution>a:hover {
  color: #ED2C49;
}